
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <script type="text/javascript" src="assets/scripts/angular.min.js"></script>
    <script type="text/javascript" src="assets/scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="assets/scripts/angular-locale_da-dk.js"></script>
  </head>
  <body>
    <main data-ng-app="remainder">
      <!-- <div class="wrapper" ng-app="remainder">
        <h1>Welcome</h1>
        <div class="movies" ng-controller="moviesController">
          <input type="text" name="movietitle" value="" ng-model="city">
          <div class="" ng-city ng-model="city">
          </div>
          <div ng-repeat='movie in movies' class="">
            <h1 movie-name title="{{movie}}">Movie name: {{movie}}</h1>
          </div>
            <br/>
        </div>
      </div> -->
      <div class="remainder-app" data-ng-show="visible" data-ng-controller="remainderController">
        <p>Already registered user Please click here.</p><a href="#/login">Login</a>
        <p>New user Please click here.</p><a href="#/register">Register</a>
      </div>
      <div ng-view></div>
    </main>
    <script type="text/javascript" src="assets/scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="assets/scripts/script.js"></script>
  </body>
</html>
