<section class="remainder-log" ng-controller="loginController">
  {{msg}}
  <p>Login details</p>
  <form name="remainder-loign" >
    <div class="input-fields">
      <div class="input-1 inputs">
        <span>Email/Phone:</span><input type="text" name="idname" class="text-box" value="" placeholder="Please enter your Email/Phone">
      </div>
      <div class="input-2 inputs">
        <span>Password:</span><input type="password" name="password" value="" class="text-box" placeholder="Please enter your Password">
      </div>
      <div class="input-3 inputs">
        <span>&nbsp;</span>
        <button type="submit" name="submit-button" class="btn submit" value="sign in">Sign in</button>
        <button type="submit" name="signup" class="btn signup" value="sign in">Sign Up</button>
      </div>
    </div>
  </form>
</section>
